@import "../../../main.scss";

.movie-item {
  width: 40rem;
  height: 50rem;

  &__image {
    overflow: hidden;
    width: 100%;
    height: 80%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      -webkit-transition: transform 600ms;
      -moz-transition: transform 600ms;
      transition: transform 600ms;
    }

    img:hover {
      transform: scale(1.1, 1.1);
    }
  }

  &__no-image {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 171, 194, 0.5);
    width: 100%;
    height: 80%;
    font-size: 2rem;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 20%;
    background-color: $primary-color;
    padding: .8rem 1.5rem;

    &>p {
      font-size: 2rem;
      color: white;
    }

    &--tooltip-text {
      font-size: 1.6rem;
    }
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    color: $secondary-color-dark;
    font-weight: bold;

    &>span {
      display: flex;
      align-items: center;
      gap: .3rem;
    }

    button {
      background-color: white;
      color: $primary-color;
      font-size: 1.5rem;
    }
  }

  &__type {
    display: flex;
    gap: .3rem;
    align-items: center;
  }
}