@import "../../../main.scss";

.details {
  width: 70%;
  padding-bottom: 7rem;

  &__tabs {
    button {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__plot {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: $secondary-color-dark;
  }

  &__ratings-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;

    @include respond(desktop) {
      flex-direction: column;
      gap: 3rem
    }
  }

  &__score {
    &--text {
      font-size: 1.6rem;
      line-height: 3rem;
      color: $secondary-color-dark;

      span {
        color: $primary-color;
        font-weight: bold;
        padding-right: .5rem;
        font-size: 1.8rem;
      }
    }
  }

  &__ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;

    @include respond(desktop) {
      width: 70%;
    }

    @include respond(tab-land) {
      width: 100%;
    }
  }

  &__ratings-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: $secondary-color-dark;
    border-radius: 20px;

    span:nth-child(1) {
      font-size: 1.6rem;
      color: white;
      font-weight: bold;
    }

    span:nth-child(2) {
      font-size: 1.8rem;
      color: $primary-color;
      font-weight: bold;
    }
  }



}