@import "../../../main.scss";

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 10px 6px 48px -2px rgba(52, 58, 64, 0.53);
  -moz-box-shadow: 10px 6px 48px -2px rgba(52, 58, 64, 0.53);
  box-shadow: 10px 6px 48px -2px rgba(52, 58, 64, 0.53);
  background-color: $secondary-color;
  width: 70vw;
  margin: 10rem auto;
  position: relative;

  @include respond(desktop) {
    width: 80vw;
  }

  @include respond(phone) {
    width: 90vw;
  }

  &__close-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;

    svg {
      font-size: 4rem;
    }
  }

  .movie-info {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 7rem 0;
    width: 70%;

    @include respond(tab-land) {
      flex-direction: column;
    }

    @include respond(phone) {
      width: 85%;
    }

    &__image {
      overflow: hidden;
      width: 30rem;
      height: 40rem;
      flex: 1;

      @include respond(tab-land) {
        align-self: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;

        -webkit-transition: transform 600ms;
        -moz-transition: transform 600ms;
        transition: transform 600ms;
      }

      img:hover {
        transform: scale(1.1, 1.1);
      }
    }

    &__no-image {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      background-color: rgba(171, 171, 194, 0.5);
      width: 100%;
      height: 80%;
      font-size: 2rem;
      flex: 1;
    }

    &__details {
      flex: 1;

      &--text {
        font-size: 1.6rem;
        line-height: 3rem;
        color: $secondary-color-dark;

        span {
          color: $primary-color;
          font-weight: bold;
          padding-right: .5rem;
        }
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 2.2rem;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 3rem;

      >p {
        display: flex;
        align-items: center;
        gap: .5rem;

        button {
          padding: 0;
        }
      }

      p:not(:first-child) {
        color: $secondary-color-dark;
        font-size: 1.8rem;
      }
    }
  }
}