@import "../../../main.scss";

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    color: white;

    &>span {
      font-size: 2rem;
      font-weight: bold;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 2rem;

    &--item {
      display: flex;
      gap: .2rem;
      align-items: center;
      font-size: 2rem;
      color: white;
      text-decoration: none;

      @include respond(phone) {
        font-size: 1.8rem;
      }

      &:hover {
        color: $secondary-color-dark;
        transition: all 200ms ease-in-out;
      }
    }

    &--item-active {
      color: $secondary-color-dark;
    }

  }
}