@import "../../main.scss";

.error-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  padding: 3rem 5rem;
  width: 60rem;
  border-radius: 10px;

  &--title {
    font-size: 3rem;
    color: $error-color;
    text-align: center;
    font-weight: bold;
  }

  &--name {
    font-size: 1.9rem;
  }

  &--message {
    font-size: 2.2rem;
  }

  img {
    width: 40rem;

  }
}