@import "../../main.scss";

.favorite-movies {
  display: flex;
  flex-direction: column;

  >p {
    font-size: 2.8rem;
    text-align: center;
    color: $secondary-color-dark;
    font-weight: bold;
    margin-top: 5rem;
  }

  &__table {
    width: 70vw;
    margin: auto;
    margin-top: 2rem;

    @include respond(desktop) {
      width: 90vw;
    }
  }

  &__table-row {
    background-color: $primary-color;

    th {
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      padding: 1.5rem 1.6rem;

    }
  }

  &__pagination {
    font-size: 1.5rem;

    p {
      font-size: 1.5rem;

    }
  }
}