@import "../../main.scss";

.movies {
  width: 80vw;
  margin: auto;
  padding-top: 5rem;

  &__form {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &__input {
    width: 30rem;

    input {
      font-size: 1.8rem;
    }

    label {
      font-size: 1.6rem;
    }
  }

  &__submit-button {
    width: 15rem;
    font-size: 1.8rem;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 3rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 7rem;

    button {
      font-size: 2rem;
    }
  }
}