@import "../../../main.scss";

.row {
  td {
    font-size: 1.5rem;
    color: $secondary-color-dark;
  }

  &__buttons {
    display: flex;
    gap: 2rem;

    &--detail {
      font-size: 1.5rem;
      background-color: $secondary-color-dark;
    }

    &--delete {
      svg {
        font-size: 3rem;
      }
    }
  }
}

.confirm-dialog {

  &--title {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &--text {
    font-size: 1.9rem;
  }

  &--button {
    font-size: 1.5rem;
  }
}