// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

$primary-color: #3498db;
$secondary-color: #e9ecef;
$secondary-color-dark: #343a40;
$error-color: #f03e3e;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.toast {
  font-size: 2rem;
}