@import "base.scss";

@mixin respond($breakpoint) {

  // 600px
  @if $breakpoint ==phone {
    @media only screen and (max-width: $bp-small) {
      @content
    }

    ;
  }

  // 800px
  @if $breakpoint ==tab-port {
    @media only screen and (max-width: $bp-medium) {
      @content
    }

    ;
  }

  // 1000px
  @if $breakpoint ==tab-land {
    @media only screen and (max-width: $bp-large) {
      @content
    }

    ;
  }

  // 1200px
  @if $breakpoint ==desktop {
    @media only screen and (max-width: $bp-largest) {
      @content
    }

    ;
  }

}